<div class='bg-tertiary-light'>
    <div style='height: 180px;' class='w-100 bg-primary-gradient'>
        <div style='height: 180px;' class='container col-10'>
            <div style='height: 180px;' class='row d-flex flex-row align-items-center'>
                <div class='custom-font h64-B text-light'>Đăng kí tài khoản</div>
            </div>
        </div>
    </div>
    <div class='container col-10'>
        <div class='row mt-4 mb-2'>
            <div class='col-2 offset-1 ps-5'><select
                    type='text'
                    class='form-select p16-B custom-boxshadow-focus-primary User_MaChucVu'
                    disabled
                >
                    <option class='custom-font MaChucVu' value='{{MaChucVu}}'>Khách hàng</option>
                </select>
            </div>
        </div>
        <div class='row'>
            <div class='col-3'>
            </div>
            <div class='col-7'>
                {{! card tài khoản }}
                <div class='card mb-5'>
                    <div class='card-header p16-B custom-font'>Tài khoản</div>
                    <div class='card-body'>
                        <label for='' class='form-label p16-S custom-font'>Tên tài khoản</label>
                        <input
                            type='text'
                            class='form-control p16-S custom-font mb-3 custom-boxshadow-focus-primary User_MaUser custom-font'
                        />
                        <label for='' class='form-label p16-S custom-font'>Mật khẩu</label>
                        <input
                            type='password'
                            class='form-control p16-S mb-3 custom-boxshadow-focus-primary User_MatKhau custom-font'
                        />
                        <label for='' class='form-label p16-S custom-font'>Nhập lại mật khẩu</label>
                        <input
                            type='password'
                            class='form-control p16-S custom-boxshadow-focus-primary User_MatKhauR custom-font'
                        />
                    </div>
                </div>
                {{! card dữ liệu cá nhân}}
                <div class='card mb-5'>
                    <div class='card-header p16-B custom-font'>Dữ liệu cá nhân</div>
                    <div class='card-body'>
                        <label for='' class='form-label p16-S custom-font'>Tên đầy đủ</label>
                        <input
                            type='text'
                            class='form-control p16-S mb-3 custom-boxshadow-focus-primary User_HoTen custom-font'
                        />
                        <div class='row'>
                            <div class='col-6'>
                                <label for='' class='form-label p16-S custom-font'>Giới tính</label>
                                <select
                                    type='text'
                                    class='form-select p16-S mb-3 custom-boxshadow-focus-primary User_GioiTinh custom-font'
                                >
                                    <option value='1' selected>Nam</option>
                                    <option value='2'>Nữ</option>
                                </select>
                            </div>
                            <div class='col-6'>
                                <label for='' class='form-label p16-S custom-font'> Ngày sinh</label>
                                <div class='row'>
                                    <div class='col-3 pe-0'>
                                        <select
                                            name=''
                                            id=''
                                            style='max-height: 50px;'
                                            class='form-select p16-S mb-3 custom-boxshadow-focus-primary User_Ngay custom-font'
                                        >
                                        </select>
                                    </div>
                                    <div class='col-5'>
                                        <select
                                            name=''
                                            id=''
                                            class='form-select p16-S mb-3 custom-boxshadow-focus-primary User_Thang custom-font'
                                        >
                                        </select>
                                    </div>
                                    <div class='col-4 ps-0'>
                                        <select
                                            name=''
                                            id=''
                                            class='form-select p16-S mb-3 ms-0 custom-boxshadow-focus-primary User_Nam custom-font'
                                        >
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-6'>
                                <label for='' class='form-label p16-S custom-font'>Số điện thoại</label>
                                <input
                                    type='text'
                                    onkeypress='onlyNumber(event)'
                                    class='form-control p16-S custom-boxshadow-focus-primary User_SDT custom-font'
                                />
                            </div>
                            <div class='col-6'>
                                <label for='' class='form-label p16-S custom-font'>Căn cước công dân</label>
                                <input
                                    type='text'
                                    onkeypress='onlyNumber(event)'
                                    class='form-control p16-S custom-boxshadow-focus-primary User_CCCD custom-font'
                                />
                            </div>
                        </div>
                    </div>
                </div>
                {{! card bảo mật }}
                <div class='card mb-3'>
                    <div class='card-header p16-B custom-font'>Bảo mật</div>
                    <div class='card-body'>
                        <label for='' class='form-label p16-S custom-font'>Email</label>
                        <input
                            type='text'
                            class='form-control p16-S mb-3 custom-boxshadow-focus-primary User_Email custom-font'
                        />
                    </div>
                </div>
                <div class='col-auto mb-5' align='right'>
                    <button
                        type='button'
                        class='custom-font User--Them btn bg-primary border-primary text-light custom-boxshadow-focus-none custom-boxshadow-hover-primary shadow-sm p20-B'
                    >Tiếp tục </button>
                </div>
                {{! Modal: Xác nhận email }}
                <div
                    class='modal fade'
                    id='staticBackdrop'
                    data-bs-backdrop='static'
                    data-bs-keyboard='false'
                    tabindex='-1'
                    aria-hidden='true'
                >
                    <div class='modal-dialog modal-dialog-centered'>
                        <div class='modal-content'>
                            <div class='modal-header'>
                                <span class='modal-title custom-font h24-B text-dark'>Xác nhận Email</span>
                            </div>
                            <div class='modal-body'>

                                <div class='d-flex flex-column'>

                                    <div class='mx-5 mb-3'>
                                        <img
                                            src='https://img.freepik.com/free-vector/new-message-landing-page-concept_52683-27003.jpg?w=1380&t=st=1669103861~exp=1669104461~hmac=7f66576808c7fb8b0638ad7e24299c214b0dc3ed508010fbf905ea442ac39a53'
                                            alt=''
                                            class='img-fluid'
                                        />
                                    </div>

                                    <div class='custom-font p20-S text-dark mb-3'>
                                        Xác nhận Email
                                    </div>
                                    <div class='custom-font p16-R text-tertiary mb-3'>
                                        Vui lòng nhập chuỗi kí tự đã gửi đến
                                        <span id='XacNhan_Email'>phantruonghuy0701@gmail.com</span>
                                    </div>

                                    <div class='mb-3'>
                                        <input
                                            type='text'
                                            id='MaXacNhan_input'
                                            style='border: 2px solid;'
                                            class='form-control custom-font p20-S text-primary border-primary custom-boxshadow-focus-primary text-center'
                                        />
                                        <div
                                            id='NhacNhapCode'
                                            class='custom-font p14-R text-danger d-none text-center mt-2'
                                        >
                                            Bạn chưa nhập mã code!
                                        </div>
                                    </div>

                                    <div class='text-center'>
                                        <a
                                            class='custom-font p16-R text-secondary custom-boxshadow-focus-primary text-center'
                                        >Gửi lại mã xác nhận</a>
                                    </div>

                                </div>

                            </div>
                            <div class='modal-footer justify-content-center'>
                                <button
                                    id='DoiEmail_XacNhan'
                                    style='margin-right: 48px;'
                                    type='button'
                                    class='btn btn-primary bg-danger border-0 px-4 text-light custom-font p20-B custom-boxshadow-focus-none custom-boxshadow-hover-secondary'
                                    data-bs-dismiss='modal'
                                >Đổi Email</button>
                                <button
                                    id='XacNhan'
                                    type='button'
                                    class='btn btn-primary bg-primary border-0 px-4 text-light custom-font p20-B custom-boxshadow-focus-none custom-boxshadow-hover-primary'
                                >Xác nhận</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method='get' class='d-none' name='Form'>
    <input id='Package' name='Package' />
</form>
<div value='{{Users}}' class='Users'></div>
<script type='module' src='/javascript/login/DangKy.js'></script>