<div class='bg-tertiary-light'>

    <div style='height: 180px;' class='w-100 bg-primary-gradient bg-light'>
    </div>
    <div class='container bg-light rounded-2 shadow-lg' style='margin-top: -140px; height:507px; width:400px '>
        <div class='row ' style='height: 100px;'>
            <div class='align-items-center d-flex justify-content-center'>
                <div class='custom-font custom-font text-tertiary h32-B'>Lấy lại mật khẩu</div>
            </div>
        </div>
        <div class='row' style='height: 100px;'>
            <div style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"
                class='align-items-center d-flex justify-content-center bg-primary'>
                <i style="font-size: 30px;" class="text-light fa-solid fa-user-shield ms-4 me-2"></i>
                <div class='custom-font p16-S text-start text-light me-2'>Mật khẩu được gửi vào email bạn đã đăng ký.
                </div>
            </div>
        </div>
        <div class='row  px-3'>
            <label for='' class='form-label p16-S custom-font px-0 mt-3'>Tên tài khoản</label>
            <input type='text' id='MaUser'
                class='form-control border-tertiary p16-S custom-font custom-boxshadow-focus-primary User_MaUser custom-font' />
            <div class='form-text custom-font text-danger px-0 d-none mt-2' id='UserTrong'>Tên tài khoản không được để
                trống</div>
        </div>
        <div class='row  px-3'>
            <label for='' class='form-label p16-S custom-font px-0 mt-3'>Email</label>
            <input type='text' id='Email'
                class='form-control border-tertiary p16-S custom-boxshadow-focus-primary User_MatKhau custom-font' />
            <div class='form-text custom-font text-danger px-0 d-none mt-2' id='EmailTrong'>Email không được để trống
            </div>
            <div class='form-text custom-font text-danger px-0 d-none mt-2' id='EmailSai'>Không đúng định dạng Email
            </div>

        </div>
        <div class='row  px-3 d-flex justify-content-center'>
            <button id='TaoMatKhau'
                class='w-100 mt-4 custom-font mb-2 btn btn-primary bg-secondary border-secondary text-light custom-boxshadow-focus-none custom-boxshadow-hover-secondary shadow-sm p20-B'>Lấy
                mật khẩu</button>
            <a id='QuenMatKhau' type='button' href='/login'
                class='text-primary custom-font p14-S text-decoration-none mb-5 col-auto'>
                Quay lại đăng nhập
            </a>
        </div>
    </div>
    <div class='row' style='height: 50px;'></div>
</div>
<div value='{{Users}}' id='User'></div>
<script type='module' src='/javascript/login/QuenMatKhau.js'></script>