<div class='bg-tertiary-light'>
    <div style='height: 80px;' class='w-100'></div>

    <div style='height: 88px;' class='w-100 bg-primary'>
        <div class='container h-100'>
            <div class='row h-100 justify-content-end align-items-center'>
                <div class='col-md-4 w-auto'>
                    <a
                        type='button'
                        class='btn btn-primary bg-secondary border-secondary px-4 text-light custom-font p20-S custom-boxshadow-focus-none custom-boxshadow-hover-secondary'
                        href=''
                    >
                        Thay đổi tìm kiếm
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class='container mt-4 pb-4'>
        <div class='row h-100'>

            {{! Cột 1 }}
            <div class='col-12 col-lg-4 bg-light shadow rounded-1 px-0'>
                <div class='d-flex flex-column h-100'>

                    <div class='py-2 px-2'>
                        <span class='custom-font p20-B text-dark lh-lg'>Chuyến bay của bạn</span>

                    </div>
                    <div style='border-bottom: 1px solid black;' class='w-100'>
                    </div>

                    {{! Chuyến bay của bạn body }}
                    <div
                        style='margin-left: -4px; margin-right: -5px;'
                        id='TomTatChuyenBay_Container'
                        class='overflow-auto h-25'
                    >

                        {{! Chuyến bay }}
                        <div
                            id='TomTatChuyenBay_div_0'
                            style='margin-left: 4px; margin-right: 5px;'
                            class='py-3 px-2 shadow-sm'
                        >

                            {{! Tiêu đề }}
                            <div class='d-flex flex-row justify-content-between'>
                                <div class='d-flex flex-row'>
                                    {{! Số thứ tự }}
                                    <span
                                        style='width: 40px; height: 40px; border-radius:20px'
                                        class='bg-secondary text-light custom-font h24-B text-center lh-base align-middle'
                                    >
                                        1
                                    </span>

                                    {{! ThGian, Sân bay }}
                                    <div class='d-flex flex-column justify-content-center ms-2'>
                                        {{! ThGian }}
                                        <div class='text-dark custom-font p14-R text-start align-middle lh-sm'>
                                            15 Thg 11 2022
                                        </div>

                                        {{! Sân bay }}
                                        <div class='text-dark custom-font p16-S text-start align-middle lh-sm'>
                                            {{! Sân bay đi }}
                                            <span>
                                                TP HCM (TSN)
                                            </span>
                                            {{! Mũi tên }}
                                            <i class='fa-solid fa-arrow-right'></i>
                                            {{! Sân bay đến }}
                                            <span>
                                                Đà Nẵng (DAN)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {{! decor }}
                                <div class='h24-B row align-items-center text-secondary'>
                                    <i class='fa-sharp fa-solid fa-caret-left'></i>
                                </div>
                            </div>

                            {{! Chi tiết }}
                            <div class=''>

                                <div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            {{! Cột 2 }}
            <div class='col-12 col-lg-8'>
                <div class='d-flex flex-column'>

                    {{! Bộ lọc }}
                    <div class='py-2 px-2 d-flex flex-row justify-content-between'>

                        <div class='custom-font p16-B text-dark lh-lg'>
                            Bộ lọc:
                        </div>

                        <div class='d-flex flex-fill row justify-content-start mx-2'>

                            {{! Lọc điểm dừng }}
                            <div class='col p-0 mb-1 me-1 input-group dropdown w-auto'>
                                <div
                                    class='text-primary form-control dropdown-toggle custom-font p16-R border-primary custom-boxshadow-focus-none custom-boxshadow-hover-primary form-select d-none-after'
                                    data-bs-toggle='dropdown'
                                    aria-expanded='false'
                                >
                                    Điểm dừng
                                </div>

                                {{! Drop Down }}
                                <div class='custom-font dropdown-menu custom-font shadow py-0 my-1 h-auto w-auto'>
                                    {{! Điểm dừng }}
                                    <div class='border border-1 border-top-0 border-end-0 border-start-0 px-3 py-2'>
                                        <div class='mb-2'>
                                            <span
                                                class='custom-font p14-B text-dark border-tertiary border-tertiary'
                                            >Điểm dừng</span>
                                        </div>

                                        {{! Bay thẳng }}
                                        <div class='form-check ms-3'>
                                            <input
                                                class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                                type='checkbox'
                                                id='DiemDung_BayThang'
                                            />
                                            <label
                                                class='form-check-label custom-font p12-S lh-lg'
                                                for='DiemDung_BayThang'
                                            >
                                                Bay thẳng
                                            </label>
                                        </div>
                                        {{! 1 Điểm dừng }}
                                        <div class='form-check ms-3'>
                                            <input
                                                class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                                type='checkbox'
                                                id='DiemDung_1DiemDung'
                                            />
                                            <label
                                                class='form-check-label custom-font p12-S lh-lg'
                                                for='DiemDung_1DiemDung'
                                            >
                                                1 điểm dừng
                                            </label>
                                        </div>
                                        {{! 2 Điểm dừng }}
                                        <div class='form-check ms-3'>
                                            <input
                                                class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                                type='checkbox'
                                                id='DiemDung_2DiemDung'
                                            />
                                            <label
                                                class='form-check-label custom-font p12-S lh-lg'
                                                for='DiemDung_2DiemDung'
                                            >
                                                +2 điểm dừng
                                            </label>
                                        </div>

                                    </div>

                                    {{! ThGian Dừng }}
                                    <div class='px-3 py-2'>

                                        <div style='width: 250px;' class='mb-2 d-flex flex-row justify-content-between'>
                                            <span
                                                class='custom-font p14-B text-dark border-tertiary border-tertiary'
                                            >Thời gian dừng</span>
                                            <span
                                                style='padding-top: 2px;'
                                                class='custom-font p12-S text-dark border-tertiary border-tertiary lh-lg ms-3'
                                            >07 h</span>
                                        </div>

                                        <input
                                            type='range'
                                            class='form-range'
                                            min='0'
                                            max='24'
                                            step='1'
                                            id='ThoiGianDung'
                                        />

                                    </div>
                                </div>
                            </div>

                            {{! Lọc thời gian bay }}
                            <div class='col p-0 mb-1 me-1 input-group dropdown w-auto'>
                                <div
                                    class='text-primary form-control dropdown-toggle custom-font p16-R border-primary custom-boxshadow-focus-none custom-boxshadow-hover-primary form-select d-none-after'
                                    data-bs-toggle='dropdown'
                                    aria-expanded='false'
                                >
                                    Thời gian bay
                                </div>

                                {{! Drop Down }}
                                <div class='custom-font dropdown-menu custom-font shadow py-0 my-1 h-auto w-auto'>
                                    {{! Giờ cất cánh }}
                                    <div class='border border-1 border-top-0 border-end-0 border-start-0 px-3 py-2'>
                                        <div style='width: 350px;' class='mb-2'>
                                            <span
                                                class='custom-font p14-B text-dark border-tertiary border-tertiary'
                                            >Giờ cất cánh</span>
                                        </div>

                                        <div class='d-flex flex-row justify-content-center'>
                                            <div class='d-flex flex-column'>
                                                {{! Sáng sớm }}
                                                <div class='form-check mb-2'>
                                                    <input
                                                        class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                                        type='checkbox'
                                                        id='CatCanh_SangSom'
                                                    />
                                                    <label class='form-check-label' for='CatCanh_SangSom'>
                                                        <div class='d-flex flex-column'>
                                                            <span class='custom-font p14-S lh-lg'>
                                                                Buổi sáng sớm
                                                            </span>
                                                            <span class='custom-font p12-S lh-base text-tertiary'>
                                                                00:00 - 06:00
                                                            </span>
                                                        </div>
                                                    </label>
                                                </div>

                                                {{! Buổi chiều }}
                                                <div class='form-check'>
                                                    <input
                                                        class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                                        type='checkbox'
                                                        id='CatCanh_Chieu'
                                                    />
                                                    <label class='form-check-label' for='CatCanh_Chieu'>
                                                        <div class='d-flex flex-column'>
                                                            <span class='custom-font p14-S lh-lg'>
                                                                Buổi chiều
                                                            </span>
                                                            <span class='custom-font p12-S lh-base text-tertiary'>
                                                                12:00 - 18:00
                                                            </span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class='d-flex flex-column me-3'>
                                                {{! Buổi sáng}}
                                                <div class='form-check ms-4 mb-2'>
                                                    <input
                                                        class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                                        type='checkbox'
                                                        id='CatCanh_Sang'
                                                    />
                                                    <label class='form-check-label' for='CatCanh_Sang'>
                                                        <div class='d-flex flex-column'>
                                                            <span class='custom-font p14-S lh-lg'>
                                                                Buổi sáng
                                                            </span>
                                                            <span class='custom-font p12-S lh-base text-tertiary'>
                                                                06:00 - 12:00
                                                            </span>
                                                        </div>
                                                    </label>
                                                </div>

                                                {{! Buổi tối}}
                                                <div class='form-check ms-4'>
                                                    <input
                                                        class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                                        type='checkbox'
                                                        id='CatCanh_Toi'
                                                    />
                                                    <label class='form-check-label' for='CatCanh_Toi'>
                                                        <div class='d-flex flex-column'>
                                                            <span class='custom-font p14-S lh-lg'>
                                                                Buổi tối
                                                            </span>
                                                            <span class='custom-font p12-S lh-base text-tertiary'>
                                                                18:00 - 24:00
                                                            </span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    {{! Giờ hạ cánh }}
                                    <div class='border border-1 border-top-0 border-end-0 border-start-0 px-3 py-2'>
                                        <div style='width: 350px;' class='mb-2'>
                                            <span
                                                class='custom-font p14-B text-dark border-tertiary border-tertiary'
                                            >Giờ hạ cánh</span>
                                        </div>

                                        <div class='d-flex flex-row justify-content-center'>
                                            <div class='d-flex flex-column'>
                                                {{! Sáng sớm }}
                                                <div class='form-check mb-2'>
                                                    <input
                                                        class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                                        type='checkbox'
                                                        id='HaCanh_SangSom'
                                                    />
                                                    <label class='form-check-label' for='HaCanh_SangSom'>
                                                        <div class='d-flex flex-column'>
                                                            <span class='custom-font p14-S lh-lg'>
                                                                Buổi sáng sớm
                                                            </span>
                                                            <span class='custom-font p12-S lh-base text-tertiary'>
                                                                00:00 - 06:00
                                                            </span>
                                                        </div>
                                                    </label>
                                                </div>

                                                {{! Buổi chiều }}
                                                <div class='form-check'>
                                                    <input
                                                        class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                                        type='checkbox'
                                                        id='HaCanh_Chieu'
                                                    />
                                                    <label class='form-check-label' for='HaCanh_Chieu'>
                                                        <div class='d-flex flex-column'>
                                                            <span class='custom-font p14-S lh-lg'>
                                                                Buổi chiều
                                                            </span>
                                                            <span class='custom-font p12-S lh-base text-tertiary'>
                                                                12:00 - 18:00
                                                            </span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class='d-flex flex-column me-3'>
                                                {{! Buổi sáng}}
                                                <div class='form-check ms-4 mb-2'>
                                                    <input
                                                        class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                                        type='checkbox'
                                                        id='HaCanh_Sang'
                                                    />
                                                    <label class='form-check-label' for='HaCanh_Sang'>
                                                        <div class='d-flex flex-column'>
                                                            <span class='custom-font p14-S lh-lg'>
                                                                Buổi sáng
                                                            </span>
                                                            <span class='custom-font p12-S lh-base text-tertiary'>
                                                                06:00 - 12:00
                                                            </span>
                                                        </div>
                                                    </label>
                                                </div>

                                                {{! Buổi tối}}
                                                <div class='form-check ms-4'>
                                                    <input
                                                        class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                                        type='checkbox'
                                                        id='HaCanh_Toi'
                                                    />
                                                    <label class='form-check-label' for='HaCanh_Toi'>
                                                        <div class='d-flex flex-column'>
                                                            <span class='custom-font p14-S lh-lg'>
                                                                Buổi tối
                                                            </span>
                                                            <span class='custom-font p12-S lh-base text-tertiary'>
                                                                18:00 - 24:00
                                                            </span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    {{! Thời gian bay }}
                                    <div class='px-3 py-2'>

                                        <div class='mb-2 d-flex flex-row justify-content-between'>
                                            <span
                                                class='custom-font p14-B text-dark border-tertiary border-tertiary'
                                            >Thời gian bay</span>
                                            <span
                                                style='padding-top: 2px;'
                                                class='custom-font p12-S text-dark border-tertiary border-tertiary lh-lg ms-3'
                                            >07 h</span>
                                        </div>

                                        <input
                                            type='range'
                                            class='form-range'
                                            min='0'
                                            max='24'
                                            step='1'
                                            id='ThoiGianBay'
                                        />
                                    </div>
                                </div>
                            </div>

                            {{! Thêm bộ lọc }}
                            <div class='col p-0 mb-1 me-1 input-group dropdown w-auto'>
                                <div
                                    class='text-primary form-control dropdown-toggle custom-font p16-R border-primary custom-boxshadow-focus-none custom-boxshadow-hover-primary form-select d-none-after'
                                    data-bs-toggle='dropdown'
                                    aria-expanded='false'
                                >
                                    Thêm bộ lọc
                                </div>

                                {{! Drop Down }}
                                <div class='custom-font dropdown-menu custom-font shadow py-0 my-1 h-auto w-auto'>
                                    {{! Điểm dừng }}
                                    <div class='border border-1 border-top-0 border-end-0 border-start-0 px-3 py-2'>
                                        <div class='mb-2'>
                                            <span
                                                class='custom-font p14-B text-dark border-tertiary border-tertiary'
                                            >Tiện ích</span>
                                        </div>

                                        {{! Hành lý ký gửi }}
                                        <div class='form-check ms-3'>
                                            <input
                                                class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                                type='checkbox'
                                                id='HanhLyKyGui'
                                            />
                                            <label class='form-check-label custom-font p12-S lh-lg' for='HanhLyKyGui'>
                                                Hành lý ký gửi
                                            </label>
                                        </div>
                                    </div>

                                    {{! Giá tiền từng hành khách }}
                                    <div class='px-3 py-2'>

                                        <div style='width: 264px;' class='mb-2 d-flex flex-row justify-content-between'>
                                            <span
                                                class='custom-font p14-B text-dark border-tertiary border-tertiary'
                                            >Giá vé /khách</span>
                                            <span
                                                style='padding-top: 2px;'
                                                class='custom-font p12-S text-dark border-tertiary border-tertiary lh-lg ms-3'
                                            >100.000.000 VND</span>
                                        </div>

                                        <input
                                            type='range'
                                            class='form-range'
                                            min='0'
                                            max='1000000'
                                            step='100000'
                                            id='ThoiGianDung'
                                            value='500000'
                                        />

                                    </div>
                                </div>
                            </div>
                        </div>

                        {{! Sắp xếp }}
                        <div class='col p-0 mb-1 me-1 input-group dropdown w-auto align-self-start'>
                            <div
                                class='text-primary form-control dropdown-toggle custom-font p16-R border-primary custom-boxshadow-focus-none custom-boxshadow-hover-primary form-select d-none-after'
                                data-bs-toggle='dropdown'
                                aria-expanded='false'
                            >
                                Sắp xếp
                            </div>

                            {{! Drop Down }}
                            <div class='custom-font dropdown-menu custom-font shadow py-0 my-1 h-auto w-auto'>
                                <div style='width: 280px;' class='px-3 py-2'>
                                    <div class='mb-2'>
                                        <span class='custom-font p14-B text-dark border-tertiary border-tertiary'>Sắp
                                            xếp</span>
                                    </div>

                                    {{! Giá thấp nhất }}
                                    <div class='form-check ms-3'>
                                        <input
                                            class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                            type='radio'
                                            name='SapXep'
                                            id='SapXep_GiaThapNhat'
                                        />
                                        <label
                                            class='form-check-label custom-font p12-S lh-lg'
                                            for='SapXep_GiaThapNhat'
                                        >
                                            Giá thấp nhất
                                        </label>
                                    </div>

                                    {{! Cất cánh sớm nhất }}
                                    <div class='form-check ms-3'>
                                        <input
                                            class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                            type='radio'
                                            name='SapXep'
                                            id='SapXep_CatCanhSomNhat'
                                        />
                                        <label
                                            class='form-check-label custom-font p12-S lh-lg'
                                            for='SapXep_CatCanhSomNhat'
                                        >
                                            Cất cánh sớm nhất
                                        </label>
                                    </div>
                                    {{! Cất cánh muộn nhất }}
                                    <div class='form-check ms-3'>
                                        <input
                                            class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                            type='radio'
                                            name='SapXep'
                                            id='SapXep_CatCanhMuonNhat'
                                        />
                                        <label
                                            class='form-check-label custom-font p12-S lh-lg'
                                            for='SapXep_CatCanhMuonNhat'
                                        >
                                            Cất cánh muộn nhất
                                        </label>
                                    </div>
                                    {{! Hạ cánh sớm nhất }}
                                    <div class='form-check ms-3'>
                                        <input
                                            class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                            type='radio'
                                            name='SapXep'
                                            id='SapXep_HaCanhSomNhat'
                                        />
                                        <label
                                            class='form-check-label custom-font p12-S lh-lg'
                                            for='SapXep_HaCanhSomNhat'
                                        >
                                            Hạ cánh sớm nhất
                                        </label>
                                    </div>
                                    {{! Hạ cánh muộn nhất }}
                                    <div class='form-check ms-3'>
                                        <input
                                            class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                            type='radio'
                                            name='SapXep'
                                            id='SapXep_HaCanhMuonNhat'
                                        />
                                        <label
                                            class='form-check-label custom-font p12-S lh-lg'
                                            for='SapXep_HaCanhMuonNhat'
                                        >
                                            Hạ cánh muộn nhất
                                        </label>
                                    </div>
                                    {{! Thời gian bay ngắn nhất }}
                                    <div class='form-check ms-3'>
                                        <input
                                            class='form-check-input custom-color-checked custom-boxshadow-focus-primary custom-boxshadow-hover-primary'
                                            type='radio'
                                            name='SapXep'
                                            id='SapXep_ThoiGianBayNganNhat'
                                        />
                                        <label
                                            class='form-check-label custom-font p12-S lh-lg'
                                            for='SapXep_ThoiGianBayNganNhat'
                                        >
                                            Thời gian bay ngắn nhất
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    {{! Danh sách chuyến bay }}
                    <div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

{{! Our js }}
<script type='module' src='/javascript/client/ChonChuyenBay.js'></script>