/* Font */
$custom-font: 'Roboto';

/* Color */
// --primary
$primary: #04bfae;
// --secondary
$secondary: #f25c05;
// --tertiary
$tertiary: #6c757d;
$tertiary-light: #e9ecef;
// --light
$light: white;
// --dark
$dark: black;
