@import 'variables';

/* Color */
// --primary
.text-primary {
    color: $primary !important ;
}

.bg-primary {
    background-color: $primary !important;
}

.bg-primary-gradient {
    background: #007991;
    background: -webkit-linear-gradient(to right, #007991, #66d8b6);
    background: linear-gradient(to right, #007991, #66d8b6);
}

.bg-primary-hover {
    background-color: rgba(4, 191, 174, 0.25) !important;
}

.border-primary {
    border-color: $primary !important;
}

.custom-boxshadow-focus-primary:focus,
.custom-boxshadow-hover-primary:hover {
    box-shadow: 0 0 0 0.25rem rgba(4, 191, 174, 0.25) !important;
}
.custom-bg-hover-primary:hover {
    background-color: rgba(4, 191, 174, 0.25) !important;
}

// --secondary
.text-secondary {
    color: $secondary !important ;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-secondary-gradient {
    background: $secondary;
    background: -webkit-linear-gradient(to right, $secondary, #dc3545);
    background: linear-gradient(to right, $secondary, #dc3545);
}

.border-secondary {
    border-color: $secondary !important;
}

.custom-boxshadow-focus-secondary:focus,
.custom-boxshadow-hover-secondary:hover {
    box-shadow: 0 0 0 0.25rem rgba(242, 92, 5, 0.25) !important;
}
.custom-bg-hover-secondary:hover {
    background-color: rgba(242, 92, 5, 0.25) !important;
}

// --tertiary
.text-tertiary {
    color: $tertiary !important ;
}

.bg-tertiary {
    background-color: $tertiary !important;
}

.border-tertiary {
    border-color: $tertiary !important;
}

.custom-boxshadow-focus-tertiary:focus,
.custom-boxshadow-hover-tertiary:hover {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25) !important;
}
.custom-bg-hover-tertiary:hover {
    background-color: rgba(108, 117, 125, 0.25) !important;
}

.text-tertiary-light {
    color: $tertiary-light !important ;
}

.bg-tertiary-light {
    background-color: $tertiary-light !important;
}

.border-tertiary-light {
    border-color: $tertiary-light !important;
}

.custom-boxshadow-focus-tertiary-light:focus,
.custom-boxshadow-hover-tertiary-light:hover {
    box-shadow: 0 0 0 0.25rem rgba(233, 236, 239, 0.25) !important;
}
.custom-bg-hover-tertiary-light:hover {
    background-color: rgba(233, 236, 239, 0.25) !important;
}

// --light
.text-light {
    color: $light !important ;
}

.bg-light {
    background-color: $light !important;
}

.border-light {
    border-color: $light !important;
}

// --dark
.text-dark {
    color: $dark !important ;
}

.bg-dark {
    background-color: $dark !important;
}

.border-dark {
    border-color: $dark !important;
}

// --success-light
.text-success-light {
    color: #00c03c !important;
}
