/* Font */
/* Color */
/* Navbar */
@media (min-width: 991.98px) {
  .nav-item-hover:hover {
    border-bottom: 2px solid #04bfae;
    padding-bottom: 6px;
    color: #04bfae !important; } }

.nav-item-active {
  border-bottom: 2px solid #04bfae;
  padding-bottom: 6px;
  color: #04bfae !important; }

@media (max-width: 991.98px) {
  .nav-item-hover:hover {
    border-right: 3px solid #04bfae;
    color: #04bfae !important; } }

.Zoom:hover {
  transform: scale(1.1);
  cursor: pointer; }

.form-control[readonly] {
  background-color: white;
  opacity: 1; }

/* Radio, check button */
.custom-color-checked:checked {
  background-color: #04bfae !important;
  border-color: #04bfae !important; }

/* Box shadow focus none */
.custom-boxshadow-focus-none:focus {
  box-shadow: 0 0 0 0.25rem rgba(4, 191, 174, 0) !important; }

/* Active */
.custom-active:active {
  background-color: #04bfae; }

.custom-active-gray:active {
  background-color: #e9ecef; }

/* ::after display none */
.d-none-after::after {
  display: none !important; }

/* Input date */
input[type='date'] {
  display: flex;
  flex-flow: row-reverse;
  column-gap: 0.75rem; }

/* Input time */
input[type='time'] {
  display: flex;
  flex-flow: row-reverse;
  column-gap: 0.75rem; }

/* Button disabled */
button:disabled,
button[disabled] {
  background-color: #cccccc !important;
  color: #666666 !important;
  opacity: 0.3; }

.accordion-button::after {
  margin-left: 0px !important;
  margin-right: 0px !important;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2304bfae'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important; }
