<nav style='height: 80px;' class='navbar navbar-expand-lg navbar-light shadow-lg bg-light'>
    <div class='container-fluid'>

        {{! Logo + Brand }}
        <a class='navbar-brand' href='/'>
            <i class='fa-sharp fa-solid fa-plane d-inline-block align-text-top text-primary' width='30' height='24'></i>
            <span class='custom-font h32-B text-dark'>Planet</span>
        </a>

        {{! Navbar items }}
        <button
            class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#navbarNav'
            aria-controls='navbarNav'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse bg-light' id='navbarNav'>
            <ul class='navbar-nav w-100 justify-content-lg-end justify-content-center custom-font p20-B'>
                <li class='nav-item active mx-3'>
                    <a class='nav-link text-dark nav-item-hover' aria-current='page' href='/'>Trang chủ</a>
                </li>

                <li class='nav-item active mx-3'>
                    <a class='nav-link text-dark nav-item-hover' href=''>Giới thiệu</a>
                </li>

                <li class='nav-item active mx-3'>
                    <a class='nav-link text-dark nav-item-hover' href='/login'>Đăng nhập</a>
                </li>

                <li class='nav-item active mx-3 ms-lg-3 me-lg-0 mb-lg-0 mb-3'>
                    <a class='nav-link px-3 text-light bg-primary rounded-1' href=''>Đăng ký</a>
                </li>
            </ul>

        </div>

    </div>
</nav>