<nav style='height: 80px;' class='navbar navbar-expand-lg navbar-light shadow-lg bg-light'>
    <div class='container-fluid'>

        {{! Logo + Brand }}
        <a class='navbar-brand' href='/'>
            <i class='fa-sharp fa-solid fa-plane d-inline-block align-text-top text-primary' width='30' height='24'></i>
            <span class='custom-font h32-B text-dark'>Planet</span>
        </a>

        {{! Navbar items }}
        <button
            class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#navbarNav'
            aria-controls='navbarNav'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse bg-light' id='navbarNav'>
            <ul class='navbar-nav w-100 justify-content-lg-end justify-content-center custom-font p20-B'>
                <li class='nav-item active mx-3'>
                    <a class='nav-link text-dark nav-item-hover' aria-current='page' href='/'>Trang chủ</a>
                </li>

                <li class='nav-item active d-none mx-3' id='GioiThieu'>
                    <a class='nav-link text-dark nav-item-hover' href=''>Giới thiệu</a>
                </li>

                <li class='nav-item active d-none mx-3' id='DN'>
                    <a class='nav-link text-dark nav-item-hover' href='/login'>Đăng nhập</a>
                </li>

                <li class='nav-item active d-none mx-3' id='Ve'>
                    <a class='nav-link text-dark nav-item-hover'>Vé đã mua</a>
                </li>
                <li class='nav-item active mx-3 ms-lg-3 me-lg-0 mb-lg-0 mb-3 d-none' id='DK'>
                    <a class='nav-link px-3 text-light bg-primary rounded-1' href='/login/register'>Đăng ký</a>
                </li>
                <li class='nav-item active mx-3 ms-lg-3 me-lg-0 mb-lg-0 mb-3 d-none' id='TTKH'>
                    <div class='dropdown'>
                        <a
                            class='p20-B dropdown-toggle HT btn bg-primary border-primary text-light custom-boxshadow-focus-none custom-boxshadow-hover-primary shadow-sm'
                            type='button'
                            id='dropdownMenuButton1'
                            data-bs-toggle='dropdown'
                            aria-expanded='true'
                        >
                        </a>
                        <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
                            <li><a class='dropdown-item btn custom-bg-hover-primary p20-S' id='Profile'>Chỉnh sửa hồ sơ</a></li>
                            <li><a class='dropdown-item btn custom-bg-hover-primary p20-S' href='/' id='DangXuat'>Đăng
                                    xuất</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>

    </div>
</nav>
<form name='clientheader-form' method='POST' class='d-none'>

</form>

<script type='module' src='/javascript/partials/client_header.js'></script>