<style>
    @keyframes pullup { 0% { opacity: 0; transform: translate(0,100px); } 80%{ transform: translate(0,20px); } 100%{
    opacity: 1; transform: translate(0,0); } } .footer_animation{ animation-name: pullup; animation-duration: 1.5s;
    animation-iteration-count: 1;}
</style>

<div class='h-auto h-md-50 w-100 bg-primary-gradient pb-5 footer_animation' id='footer_planet'>

    <div class='container-fluid'>
        <div class='row justify-content-evenly'>

            {{! App }}
            <div style='margin-top: 80px;' class='col-12 col-md-4 h-50'>
                <div class='d-flex flex-column'>
                    <div class='d-flex flex-row mb-3'>
                        <i
                            class='fa-sharp fa-solid fa-plane d-inline-block align-text-top text-light h48-B pe-3'
                            width='48'
                            height='48'
                        ></i>
                        <span class='custom-font h48-B text-light'>Planet</span>
                    </div>
                    <p class='custom-font h28-B text-light text-justify text-wrap w-100'>
                        Ha hahaha hahah ahahah ahahahahah ahahahah ahahahahah ahahahahah ahahaha hahahahaha
                    </p>
                    <p class='custom-font h28-B text-light text-justify text-wrap w-100'>
                        Ha hahaha hahah ahahah ahahahahah
                    </p>
                    <p class='custom-font h28-B text-light text-justify text-wrap w-100'>
                        Ha hahaha hahah ahahah
                    </p>
                </div>

            </div>

            {{! Họ tên }}
            <div style='margin-top: 80px;' class='col-12 col-md-7 h-50'>
                <div class='d-flex flex-column'>
                    <div class='d-flex flex-row mb-3'>
                        <span class='custom-font h48-B text-light'>Thành viên</span>
                    </div>

                    <div class='row'>
                        {{! Người 1 }}
                        <div style='border-left: 4px solid white ;' class='col ms-2 mb-3'>
                            <div class='row justify-content-between mb-1'>
                                <span class='col-12 custom-font h24-B text-light text-justify text-wrap'>
                                    Phan Trường Huy
                                </span>
                                <div class='col-12 mt-2 ms-3'>
                                    <div class='d-flex flex-row'>
                                        <i
                                            style='font-size: 16px; height:16px; width:16px;'
                                            class='fa-solid fa-envelope text-light me-3'
                                        ></i>
                                        <span
                                            class='custom-font p16-R text-light text-justify text-wrap align-self-end'
                                        >
                                            20520206@gm.uit.edu.vn
                                        </span>
                                    </div>
                                </div>
                                <div class='col-12 mt-2 ms-3'>
                                    <div class='d-flex flex-row'>
                                        <i
                                            style='font-size: 16px; height:16px; width:16px;'
                                            class='fa-solid fa-code text-light me-3'
                                        ></i>
                                        <a
                                            class='custom-font p16-R text-light text-justify text-wrap align-self-end'
                                            href='http://github.com/Gr33nBean'
                                        >
                                            https://github.com/Gr33nBean
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{! Người 2 }}
                        <div style='border-left: 4px solid white ;' class='col ms-2 mb-3'>
                            <div class='row justify-content-between mb-1'>
                                <span class='col-12 custom-font h24-B text-light text-justify text-wrap'>
                                    Trần Thanh Trí
                                </span>
                                <div class='col-12 mt-2 ms-3'>
                                    <div class='d-flex flex-row'>
                                        <i
                                            style='font-size: 16px; height:16px; width:16px;'
                                            class='fa-solid fa-envelope text-light me-3'
                                        ></i>
                                        <span
                                            class='custom-font p16-R text-light text-justify text-wrap align-self-end'
                                        >
                                            20520328@gm.uit.edu.vn
                                        </span>
                                    </div>
                                </div>
                                <div class='col-12 mt-2 ms-3'>
                                    <div class='d-flex flex-row'>
                                        <i
                                            style='font-size: 16px; height:16px; width:16px;'
                                            class='fa-solid fa-code text-light me-3'
                                        ></i>
                                        <a
                                            class='custom-font p16-R text-light text-justify text-wrap align-self-end'
                                            href='https://github.com/TriTran951'
                                        >
                                            https://github.com/TriTran951
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        {{! Người 3 }}
                        <div style='border-left: 4px solid white ;' class='col ms-2 mb-3'>
                            <div class='row justify-content-between mb-1'>
                                <span class='col-12 custom-font h24-B text-light text-justify text-wrap'>
                                    Nguyễn Phước Bình
                                </span>
                                <div class='col-12 mt-2 ms-3'>
                                    <div class='d-flex flex-row'>
                                        <i
                                            style='font-size: 16px; height:16px; width:16px;'
                                            class='fa-solid fa-envelope text-light me-3'
                                        ></i>
                                        <span
                                            class='custom-font p16-R text-light text-justify text-wrap align-self-end'
                                        >
                                            20520143@gm.uit.edu.vn
                                        </span>
                                    </div>
                                </div>
                                <div class='col-12 mt-2 ms-3'>
                                    <div class='d-flex flex-row'>
                                        <i
                                            style='font-size: 16px; height:16px; width:16px;'
                                            class='fa-solid fa-code text-light me-3'
                                        ></i>
                                        <a
                                            class='custom-font p16-R text-light text-justify text-wrap align-self-end'
                                            href='https://github.com/TriTran951'
                                        >
                                            https://github.com/20520143
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{! Người 4 }}
                        <div style='border-left: 4px solid white ;' class='col ms-2 mb-3'>
                            <div class='row justify-content-between mb-1'>
                                <span class='col-12 custom-font h24-B text-light text-justify text-wrap'>
                                    Nguyễn Văn Hên
                                </span>
                                <div class='col-12 mt-2 ms-3'>
                                    <div class='d-flex flex-row'>
                                        <i
                                            style='font-size: 16px; height:16px; width:16px;'
                                            class='fa-solid fa-envelope text-light me-3'
                                        ></i>
                                        <span
                                            class='custom-font p16-R text-light text-justify text-wrap align-self-end'
                                        >
                                            20520179@gm.uit.edu.vn
                                        </span>
                                    </div>
                                </div>
                                <div class='col-12 mt-2 ms-3'>
                                    <div class='d-flex flex-row'>
                                        <i
                                            style='font-size: 16px; height:16px; width:16px;'
                                            class='fa-solid fa-code text-light me-3'
                                        ></i>
                                        <a
                                            class='custom-font p16-R text-light text-justify text-wrap align-self-end'
                                            href='https://github.com/String1502'
                                        >
                                            https://github.com/String1502
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>