<nav style='height: 80px;' id='staff_header' class='navbar navbar-expand-lg navbar-light shadow-lg bg-light'>
    <div class='container-fluid'>

        {{! Logo + Brand }}
        <a class='navbar-brand' id='LoGo'>
            <i class='fa-sharp fa-solid fa-plane d-inline-block align-text-top text-primary' width='30' height='24'></i>
            <span class='custom-font h32-B text-dark'>Planet</span>
        </a>

        {{! Navbar items }}
        <button
            class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#navbarNav'
            aria-controls='navbarNav'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse bg-light' id='navbarNav'>
            <ul class='navbar-nav w-100 justify-content-lg-end justify-content-center custom-font p20-B' id='ListQ'>
                <li class='nav-item active mx-3'>
                    <a id='TraCuu' class='nav-link text-dark nav-item-hover' aria-current='page'>Tra cứu</a>
                </li>

                <li class='nav-item active mx-3' id='Q2'>
                    <a id='NhanLich' class='nav-link text-dark nav-item-hover d-none'>Nhận lịch</a>
                </li>

                <li class='nav-item active mx-3' id='Q3'>
                    <a id='DoanhThu' class='nav-link text-dark nav-item-hover d-none'>Doanh thu</a>
                </li>

                <li class='nav-item active mx-3'>
                    <a id='QuyDinh' class='nav-link text-dark nav-item-hover'>Quy định</a>
                </li>

                <li class='nav-item active mx-3' id='Q5'>
                    <a id='PhanQuyen' class='nav-link text-dark nav-item-hover d-none'>Phân quyền</a>
                </li>

                <li class='nav-item active mx-3 ms-lg-3 me-lg-0 mb-lg-0 mb-3'>
                    <div class='dropdown'>
                        <a
                            class='p20-B dropdown-toggle HoTen btn bg-primary border-primary text-light custom-boxshadow-focus-none custom-boxshadow-hover-primary shadow-sm'
                            type='button'
                            id='dropdownMenuButton1'
                            data-bs-toggle='dropdown'
                            aria-expanded='true'
                        >
                        </a>
                        <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
                            <li><a class='dropdown-item btn custom-bg-hover-primary p20-S' id='Profile'>Chỉnh sửa hồ sơ</a></li>
                            <li><a class='dropdown-item btn custom-bg-hover-primary p20-S' id='DangXuat'>Đăng xuất</a></li>
                        </ul>
                    </div>
                    {{! <i class='fa-solid fa-circle-user fa-1x' style='color: gray;'></i>
                    <a class='nav-link px-3 rounded-1 ps-2' style='color: gray;  ' id='HoTen'></a> }}
                </li>
            </ul>

        </div>

    </div>
</nav>

<form name='staffheader-form' method='POST' class='d-none'>

</form>

{{! Our js }}
<script type='module' src='/javascript/partials/staff_header.js'>
</script>