<div class='bg-tertiary-light'>

    <div style='height: 88px;' class='w-100 bg-primary-gradient'>
        <div class='container h-100'>
            <div class='d-flex flex-row h-100 justify-content-between align-items-center'>
                <div class='d-flex flex-column'>
                    <span class='custom-font h28-B text-light mb-2'>Nhận lịch chuyến bay từ Excel</span>
                    <span class='custom-font p16-R text-light'>Sử dụng Template Excel của chúng tôi</span>
                </div>
                <div class='w-auto'>
                    <a
                        type='button'
                        data-bs-toggle='modal'
                        data-bs-target='#Modal_ThamSo'
                        class='shadow-sm btn btn-primary bg-danger border-0 px-4 text-light custom-font p16-B custom-boxshadow-focus-none custom-boxshadow-hover-secondary'
                    >
                        Các quy định
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class='container mt-4 pb-4 h-auto'>

        {{! Thông tin chuyến bay }}
        <div class='mb-5 row'>

            <div class='col-7'>
                <div style='height: 170px;' class='d-flex flex-column bg-light shadow rounded-2 h-auto ps-3 pe-4 py-3'>
                    {{! Mã chuyến bay }}
                    <div class='mb-3'>
                        <label for='MaChuyenBay' class='form-label custom-font p14-S'>Chọn file excel</label>
                        <form action='/flight/addFromexcel' method='post' enctype='multipart/form-data' id='form-excel'>
                            <div class='input-group'>
                                <input
                                    type='file'
                                    class='form-control custom-font p16-S border-tertiary custom-boxshadow-focus-primary'
                                    id='NhapFileExcel'
                                    name='myfile'
                                    accept='.xls, .xlsx'
                                />
                                <button
                                    class='btn border-tertiary bg-danger custom-font p16-S text-light custom-boxshadow-focus-none custom-boxshadow-hover-secondary'
                                    type='button'
                                    id='XoaFileExcel'
                                >Xóa</button>
                            </div>
                        </form>

                    </div>

                    <div class='custom-font p16-S text-tertiary align-self-end'>
                        Không có file template? Tải xuống
                        <a
                            id='DownloadTemplate'
                            href='/staff/nhanlich/downExcelTemplate'
                            class='text-primary text-decoration-none'
                        >tại đây.</a>
                    </div>
                </div>
            </div>

        </div>

        {{! Chuyến bay }}
        <div class='mb-5'>

            <div class='d-flex flex-column bg-light shadow rounded-2 h-auto'>

                {{! Tiêu đề }}
                <div class='px-3 custom-font h24-B text-tertiary py-3'>
                    DANH SÁCH CHUYẾN BAY
                </div>

                {{! Bảng chuyến bay }}
                <div class='table-responsive overflow-auto' style='height: 600px;'>

                    <table class='table'>
                        <thead class='sticky-top bg-light shadow-sm'>
                            <tr class='custom-font p16-S text-center'>
                                <th scope='col'>STT</th>
                                <th scope='col'>Sân bay đi</th>
                                <th scope='col'>Sân bay đến</th>
                                <th scope='col'>Khởi hành</th>
                                <th scope='col'>Giá vé cơ bản (VND)</th>
                                <th scope='col'>Điểm dừng</th>
                                <th scope='col'>Hạng vé</th>
                                <th scope='col'>Chi tiết</th>

                            </tr>
                        </thead>
                        <tbody id='ChuyenBay_Container'>
                            <tr class='d-none ChuyenBay_Item custom-font p16-R align-middle text-center'>
                                <th style='border-right: 1px solid gray;' class='STT'>0</th>
                                <td colspan='6' class='ViPham text-danger p16-B d-none'>Chuyến bay dòng thứ 10 vi phạm
                                    quy định</td>
                                <td class='TenSanBayDi d-none'>TSN</td>
                                <td class='TenSanBayDen d-none'>DAD</td>
                                <td class='KhoiHanh d-none'>11:11 11/11/2022</td>
                                <td class='GiaVeCoBan d-none'>100.000</td>
                                <td class='SoDiemDung d-none'>20</td>
                                <td class='HangVe d-none'>20</td>
                                <td style='width: 12.5%;'>
                                    <a
                                        type='button'
                                        data-bs-toggle='modal'
                                        data-bs-target='#Modal_ChiTietChuyenBay'
                                        class='ChiTiet d-none btn btn-primary bg-primary border-primary text-light custom-boxshadow-focus-none custom-boxshadow-hover-primary p14-S shadow-sm'
                                    >Chi tiết</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class='custom-font p16-B text-tertiary text-center'>
                        <span id='KhongCoChuyenBay' class='d-none'>Không có chuyến bay.</span>
                    </div>

                </div>
            </div>

        </div>

        {{! Modal tham số quy định }}
        <div class='modal fade' id='Modal_ThamSo'>
            <div style='width: 500px;' class='modal-dialog modal-dialog-centered'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <span class='modal-title custom-font p20-B text-dark'>
                            Các quy định về chuyến bay</span>
                        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                    </div>
                    <div class='modal-body custom-font p20-R text-dark' id='Modal_ThamSo_Body'>

                        <div>
                            <img
                                class='img-fluid mb-4'
                                src='https://img.freepik.com/premium-vector/people-studying-list-rules-making-checklist-reading-guidance-vector-illustration-flat-style_186332-940.jpg?w=1380'
                                alt=''
                            />
                        </div>

                        <div class='d-none d-flex flex-row justify-content-between mb-3 mx-2 Modal_ThamSo_Item'>
                            <span class='TenQuyDinh'>- Thời gian nhận lịch tối thiểu:</span>
                            <span class='GiaTriQuyDinh p20-B'>Thời gian nhận lịch tối thiểu</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {{! Modal thông báo }}
        <div class='modal fade' id='Modal'>
            <div class='modal-dialog modal-dialog-centered'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <span class='modal-title custom-font p20-B text-dark' id='Modal_Header'>Thông báo</span>
                        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                    </div>
                    <div class='modal-body custom-font p20-R text-dark' id='Modal_Body'>
                        Bạn muốn nhận lịch các chuyến bay?
                    </div>
                    <div class='modal-footer'>

                        <button
                            type='button'
                            class='btn btn-secondary custom-font p20-B text-light bg-secondary border-0 custom-boxshadow-hover-secondary custom-boxshadow-focus-none'
                            data-bs-dismiss='modal'
                            id='Modal_Dong'
                        >Đóng</button>
                        <button
                            type='button'
                            class='btn btn-secondary custom-font p20-B text-light bg-danger border-0 custom-boxshadow-hover-secondary custom-boxshadow-focus-none'
                            id='Modal_Thoat'
                        >Thoát</button>
                        <button
                            type='button'
                            class='btn btn-primary custom-font p20-B text-light bg-primary border-0 custom-boxshadow-hover-primary custom-boxshadow-focus-none'
                            id='Modal_Luu'
                        >Lưu</button>
                    </div>
                </div>
            </div>
        </div>

        {{! Modal Chi tiết }}
        <div class='modal fade' id='Modal_ChiTietChuyenBay'>
            <div class='modal-dialog modal-dialog-centered modal-xl'>
                <div class='modal-content h-auto w-auto bg-tertiary-light rounded-0'>

                    <div class='row m-0'>

                        {{! Thông tin chuyến bay }}
                        <div class='col-4 ps-0 pe-3'>
                            <div class='d-flex flex-column bg-light shadow h-100'>

                                {{! Tiêu đề }}
                                <div class='p-3 mt-3 custom-font h24-B text-primary'>
                                    THÔNG TIN CHUYẾN BAY
                                </div>

                                {{! Dòng 1 }}
                                <div class='row px-3 justify-content-center'>

                                    {{! Sân bay đi }}
                                    <div class='col-12'>
                                        <div class='mb-3'>
                                            <label for='SanBayDi' class='form-label custom-font p14-S'>Sân bay đi</label>
                                            <input
                                                style='height: 36px;'
                                                type='text'
                                                class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                                id='SanBayDi'
                                                disabled
                                            />
                                        </div>
                                    </div>

                                    {{! Sân bay đến }}
                                    <div class='col-12'>
                                        <div class='mb-3'>
                                            <label for='SanBayDen' class='form-label custom-font p14-S'>Sân bay đến</label>
                                            <input
                                                style='height: 36px;'
                                                type='text'
                                                class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                                id='SanBayDen'
                                                disabled
                                            />
                                        </div>
                                    </div>

                                </div>
                                {{! Dòng 2 }}
                                <div class='row px-3 justify-content-center'>
                                    {{! Khởi hành }}
                                    <div class='col-12'>
                                        <div class='mb-3'>
                                            <label for='KhoiHanh' class='form-label custom-font p14-S'>Khởi hành</label>
                                            <input
                                                style='height: 36px;'
                                                type='text'
                                                class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                                id='KhoiHanh'
                                                disabled
                                            />
                                        </div>
                                    </div>

                                    {{! Thời gian bay }}
                                    <div class='col-12'>
                                        <div class='mb-3'>
                                            <label for='ThoiGianBay' class='form-label custom-font p14-S'>Thời gian bay</label>
                                            <div class='input-group'>
                                                <input
                                                    style='height: 36px;'
                                                    type='text'
                                                    class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                                    id='ThoiGianBay'
                                                    disabled
                                                />
                                                <span
                                                    style='height: 36px; background-color:#e9ecef;'
                                                    class='border-tertiary input-group-text custom-font p16-S py-1 text-tertiary'
                                                >phút</span>
                                            </div>

                                        </div>
                                    </div>

                                    {{! Giá vé }}
                                    <div class='col-12'>
                                        <div class='mb-3'>
                                            <label for='GiaVeCoBan' class='form-label custom-font p14-S'>Giá vé cơ bản</label>
                                            <div class='input-group mb-3'>
                                                <input
                                                    style='height: 36px;'
                                                    type='text'
                                                    class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                                    id='GiaVeCoBan'
                                                    disabled
                                                />
                                                <span
                                                    style='height: 36px;  background-color:#e9ecef;'
                                                    class='border-tertiary input-group-text custom-font p16-S py-1 text-tertiary'
                                                >VND</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        {{! Bên phải }}
                        <div class='col-8 px-0'>

                            <div class='row m-0 h-auto justify-content-center'>

                                {{! nút tắt }}
                                <div class='col-12 justify-self-end text-end'>
                                    <button
                                        type='button'
                                        class='btn-close py-3'
                                        data-bs-dismiss='modal'
                                        aria-label='Close'
                                    ></button>
                                </div>

                                {{! Sân bay trung gian }}
                                <div class='col-12 mb-3 ps-0'>
                                    <div class='d-flex flex-column bg-light shadow rounded-2 h-auto'>

                                        {{! Tiêu đề }}
                                        <div class='px-3 custom-font p20-B text-tertiary py-3'>
                                            SÂN BAY TRUNG GIAN
                                        </div>

                                        {{! Table }}
                                        <div class='px-3'>
                                            <div style='height: 200px;' class='table-responsive overflow-auto'>

                                                <table class='table'>
                                                    <thead class='sticky-top bg-light shadow-sm'>
                                                        <tr class='custom-font p16-S text-center'>
                                                            <th scope='col'>Thứ tự</th>
                                                            <th scope='col'>Tên sân bay</th>
                                                            <th scope='col'>Thời gian đến</th>
                                                            <th scope='col'>Thời gian dừng (Phút)</th>
                                                            <th scope='col'>Ghi chú</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id='SanBayTrungGian_Container'>
                                                        <tr
                                                            class='d-none SanBayTrungGian_Item custom-font p16-R align-middle text-center'
                                                        >
                                                            <th class='ThuTu'>1</th>
                                                            <td class='TenSanBay'>Tân Sơn Nhất</td>
                                                            <td class='ThoiGianDen'>11:11 11/11/2022</td>
                                                            <td class='ThoiGianDung'>180</td>
                                                            <td class='GhiChu'></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>

                                    </div>
                                </div>

                                {{! Hạng vé }}
                                <div class='col-12 mb-3 ps-0'>
                                    <div class='d-flex flex-column bg-light shadow rounded-2 h-auto'>

                                        {{! Tiêu đề }}
                                        <div class='px-3 custom-font p20-B text-tertiary py-3'>
                                            HẠNG VÉ
                                        </div>

                                        {{! Table }}
                                        <div class='px-3'>
                                            <div style='height: 200px;' class='table-responsive overflow-auto'>

                                                <table class='table'>
                                                    <thead class='sticky-top bg-light shadow-sm'>
                                                        <tr class='custom-font p16-S text-center'>
                                                            <th scope='col'>Tên hạng vé</th>
                                                            <th scope='col'>Giá vé (VND)</th>
                                                            <th scope='col'>Số ghế</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id='HangVe_Container'>
                                                        <tr
                                                            class='d-none HangVe_Item custom-font p16-R align-middle text-center'
                                                        >
                                                            <th class='TenHangVe'>Phổ thông</th>
                                                            <td class='GiaTien'>500.000</td>
                                                            <td class='SoGhe'>11</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class='row m-0 justify-content-center bg-light'>
                        <div class='col-12 text-end py-2' style='box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;'>
                            <button
                                type='button'
                                class='px-5 btn btn-secondary custom-font p20-B text-light bg-secondary border-0 custom-boxshadow-hover-secondary custom-boxshadow-focus-none'
                                data-bs-dismiss='modal'
                            >Đóng</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

{{! Thời gian hiện tại }}
<div
    style='box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;'
    class='position-fixed bottom-0 start-0 w-100 bg-light text-light custom-font p16-B h-auto'
>
    <div class='d-flex flex-row justify-content-between align-items-center py-2 mx-2'>

        <div class='py-2 px-2 bg-tertiary shadow text-end rounded text-light custom-font p16-B'>
            <span class='fa-solid fa-clock mx-1'></span>
            <span id='Timer_NgayGio'>11/11/1011 11:11:11</span>
        </div>

        <div class='d-flex flex-row justify-content-end'>
            {{! Thoát chỉnh sửa }}
            <div class='me-2'>
                <a
                    id='ThoatThemChuyenBay'
                    type='button'
                    class='btn btn-primary bg-secondary border-0 px-4 py-2 text-light custom-font p20-B custom-boxshadow-focus-none custom-boxshadow-hover-secondary'
                >
                    Thoát
                </a>
            </div>
            {{! Lưu thay đổi }}
            <button
                class='btn border-0 bg-success custom-boxshadow-focus-none custom-boxshadow-hover-primary px-4 py-2'
                id='NhanLichChuyenBay'
                disabled
            >
                <span class='text-light custom-font p20-B'>Nhận lịch</span>
            </button>
        </div>

    </div>
</div>

{{! sân bay và hạng ghế từ DB }}
<div id='SB_HG' class='d-none'>{{this.SB_HG}}</div>

{{! Form }}
<form name='NhanLich-form' method='POST' class='d-none'>
</form>

{{! Our js }}
<script type='module' src='/javascript/staff/NhanLichTuExcel.js'>
</script>