<div class='bg-tertiary-light'>

    <div style='height: 88px;' class='w-100 bg-primary-gradient'>
        <div class='container h-100'>
            <div class='d-flex flex-row h-100 justify-content-between align-items-center'>
                <div class='d-flex flex-column'>
                    <span class='custom-font h28-B text-light mb-2'>Báo cáo doanh thu</span>
                    {{! <span class='custom-font p16-R text-light'></span> }}
                </div>
                <div class='w-auto'>
                    <a id='HuyChuyenBay' type='button'
                        class='d-none btn btn-primary bg-secondary border-0 px-4 text-light custom-font p16-B custom-boxshadow-focus-none custom-boxshadow-hover-secondary'>
                        Thoát
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class='container mt-4 pb-4 h-auto'>

        <div class='row'>

            {{! Chọn năm }}
            <div class='col-6 col-md-2 mb-3'>
                <div class='bg-light shadow rounded-3'>
                    <div class='row px-3 py-3'>
                        <div class=''>

                            <label class='form-label custom-font p14-S'>Năm</label>
                            <div class='input-group dropdown'>
                                <input id='Nam' style='height: 36px;' type='text'
                                    class='form-control dropdown-toggle custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary form-select'
                                    data-bs-toggle='dropdown' placeholder='Năm' nam='' />
                                {{! Drop down }}
                                <ul id='Nam_Container'
                                    class='h-auto list-unstyled custom-font p14-S dropdown-menu custom-font p20-B shadow py-0 my-1 overflow-auto'>
                                    <li class='Nam_Item dropdown-item custom-active py-2 d-none'>
                                        <div style='pointer-events:none;' class='custom-font p16-B' nam='0'>
                                            2022
                                        </div>
                                    </li>
                                    {{! Dropdown items }}
                                    {{#each years}}

                                    <li class='Nam_Item dropdown-item custom-active py-2' nam="{{this.nam}}">
                                        <div style='pointer-events:none;' class='custom-font p16-B' nam='{{this.nam}}'>
                                            {{this.nam}}
                                        </div>
                                    </li>

                                    {{/each}}

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            {{! Bảng bự doanh thu }}
            <div class='col-12 col-md-10'>
                <div class='bg-light shadow rounded-3'>

                    <div class='row'>

                        {{! Dòng chữ tổng doanh thu }}
                        <div class='col-12 p-4'>

                            <div class='d-flex flex-row justify-content-between'>

                                <div class='custom-font h24-B text-tertiary'>

                                    <span class='text-dark'>Tổng doanh thu:</span>
                                    <span id='tong_doanh_thu'>341.000.000</span>
                                    VND
                                    <span id='doanh_thu_nam_status'>(Chưa kết thúc)</span>

                                </div>

                                <div class=''>
                                    <button id="xuat_bao_cao_nam_button" type='button'
                                        class='btn btn-primary bg-primary border-0 px-3 text-light custom-font p14-S custom-boxshadow-focus-none custom-boxshadow-hover-primary'>
                                        Xuất báo cáo
                                    </button>
                                </div>

                            </div>

                        </div>

                        {{! Các Accordion }}
                        <div class='col-12 px-4 pb-4'>

                            <div class='accordion' id='accordion_Container'>

                                {{! accordion_Item }}
                                {{! Item below is a template for month accordion }}
                                <div class='accordion-item rounded-0 d-none' thang='0'>

                                    <div class='accordion-header'>
                                        <div style='box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;'
                                            class='header collapsed accordion-button custom-boxshadow-focus-none bg-light d-flex flex-row justify-content-between py-2'
                                            type='button' aria-expanded='false' data-bs-toggle='collapse'>

                                            <div
                                                class='d-flex flex-row justify-content-between align-items-center flex-fill'>

                                                {{! nội dung header }}
                                                <div class='custom-font p14-B text-dark'>

                                                    <span class='item_header_thang me-3'>Tháng 1</span>
                                                    <span>Số chuyến đã bay:</span>

                                                    <span class='item_header_sochuyenbay text-tertiary me-3'>121</span>

                                                    <span>Doanh thu:</span>

                                                    <span class='item_header_doanhthu text-tertiary'>21.000.000</span>

                                                    <span class='text-tertiary'>VND</span>

                                                </div>

                                                {{! Nút xuất báo cáo }}
                                                {{!-- <div class=''>
                                                    <button type='button' thang=''
                                                        class='item_header_btn me-2 btn btn-primary bg-primary border-0 px-3 text-light custom-font p12-S custom-boxshadow-focus-none custom-boxshadow-hover-primary'>
                                                        Xuất báo cáo
                                                    </button>
                                                </div> --}}
                                            </div>

                                        </div>
                                    </div>

                                    <div id='item_body_thang' class='accordion-collapse collapse'>
                                        <div class='accordion-body'>

                                            <div class='table_rapper table-responsive overflow-auto'
                                                style='height: 300px;'>

                                                <table class='table'>
                                                    <thead class='sticky-top bg-light shadow-sm'>
                                                        <tr class='custom-font p16-S text-center'>
                                                            <th style='width: 15%' scope='col'>Mã ch.bay</th>
                                                            <th style='width: 25%' scope='col'>Khởi hành</th>
                                                            <th style='width: 15%' scope='col'>Tổng vé</th>
                                                            <th style='width: 15%' scope='col'>Vé đã bán</th>
                                                            <th style='width: 20%' scope='col'>Doanh thu</th>
                                                            <th style='width: 10%' scope='col'>Tỉ lệ</th>
                                                            <th style='width: 15%' scope='col'>Chi tiết</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class='item_body_Container' thang='0'>
                                                        <tr
                                                            class='item_body_Item custom-font p16-R align-middle text-center d-none'>
                                                            <th class='Item_MaChuyenBayHienThi'>SG-HA-1</th>
                                                            <td class='Item_KhoiHanh'>11:11 11/11/2022</td>
                                                            <td class='Item_TongVe'>20</td>
                                                            <td class='Item_VeDaBan'>10</td>
                                                            <td class='Item_DoanhThu'>20.000.000 VND</td>
                                                            <td class='Item_TiLe'>20%</td>
                                                            <td style='width: 12.5%;'>
                                                                <a type='button' MaChuyenBay='' data-bs-toggle='modal'
                                                                    data-bs-target='#ChiTietChuyenBay_Modal'
                                                                    class='Item_ChiTiet btn btn-primary bg-primary border-primary text-light custom-boxshadow-focus-none custom-boxshadow-hover-primary p14-S shadow-sm'>Chi
                                                                    tiết</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                {{! No flight notice }}
                                                <div class="no_flight_identifier d-flex justify-content-center d-none">
                                                    <div class="custom-font p32-R col text-tertiary text-center">
                                                        Không có chuyến bay nào
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    {{! Modal }}
    <div id='ChiTietChuyenBay_Modal' class='modal fade'>
        <div class='modal-dialog modal-dialog-centered modal-fullscreen'>
            <div class='modal-content h-auto'>
                <div class='d-flex flex-column bg-tertiary-light h-auto'>

                    {{! Body }}
                    <div class='row p-0 m-0'>

                        {{! Bên trái }}
                        <div class='col-3 px-0 bg-light shadow'>
                            {{! Header }}
                            <div style='border-bottom: 1px solid gray ;'
                                class='d-flex flex-row align-items-center justify-content-center  py-4'>

                                <i style='width: 48px; height:48px; font-size:48px;'
                                    class='fa-solid fa-plane text-primary me-2'></i>

                                <div class="d-flex flex-column align-items-start custom-font p16-R text-tertiary ms-3">
                                    Chuyến bay
                                    <span id="MaHienThi_Title_Modal" class='h48-B custom-font text-dark'>
                                        MaHienThi
                                    </span>
                                </div>

                            </div>

                            {{! ChuyenBay Container }}
                            <div class='d-flex flex-column overflow-auto px-3'>

                                <div class='d-flex flex-row justify-content-between align-items-center py-2'>
                                    <div class='custom-font p16-S text-tertiary text-start'>
                                        Sân bay đi
                                    </div>
                                    <div id="SanBayDi_FlightDetail_Modal" class='custom-font p20-B text-dark text-end'>
                                        Nội Bài
                                    </div>
                                </div>

                                <div class='d-flex flex-row justify-content-between align-items-center py-2'>
                                    <div class='custom-font p16-S text-tertiary me-1 text-start'>
                                        Sân bay đến
                                    </div>
                                    <div id="SanBayDen_FlightDetail_Modal" class='custom-font p20-B text-dark text-end'>
                                        Tân Sơn Nhất
                                    </div>
                                </div>

                                <div class='d-flex flex-row justify-content-between align-items-center py-2'>
                                    <div class='custom-font p16-S text-tertiary me-1 text-start'>
                                        Thời gian bay
                                    </div>
                                    <div class='custom-font p20-B text-dark text-end'>
                                        <span id="ThoiGianBay_FlightDetail_Modal">180</span> phút
                                    </div>
                                </div>

                                <div class='d-flex flex-row justify-content-between align-items-center py-2'>
                                    <div class='custom-font p16-S text-tertiary me-1 text-start'>
                                        Khởi hành
                                    </div>
                                    <div class='custom-font p20-B text-dark text-end'>
                                        <span id="KhoiHanh_FlightDetail_Modal">08:00 13-11-2022</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        {{! Bên phải }}
                        <div class='col-9 px-0 h-100'>
                            <div class='d-flex flex-column h-100'>
                                {{!--
                                {{! Nút close }}
                                <div class='mx-3 mt-3 d-flex flex-row justify-content-end float-right'>
                                    <button type='button' class='btn-close' data-bs-dismiss='modal'
                                        aria-label='Close'></button>
                                </div> --}}

                                {{! Tabs }}
                                <div class="tabs-x tab-bordered tabs-above tab-align-right col-9 h-100 w-100">
                                    <ul id="myTab-kv-9" class="nav nav-tabs bg-light" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#home-kv-9" role="tab"
                                                data-bs-toggle="tab">
                                                <i class="fas fa-home"></i> Tổng quan
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#profile-kv-9" role="tab" data-bs-toggle="tab">
                                                <i class="fa fa-receipt"></i> Hoá đơn
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent-kv-9" class="tab-content">
                                        <div class="tab-pane fade show active" id="home-kv-9" role="tabpanel"
                                            aria-labelledby="home-tab">

                                            {{! Doanh thu Container }}
                                            <div class=''>
                                                {{! Nút close }}
                                                <div class='row justify-content-end align-items-center my-2 '>
                                                    <button type='button' class='btn-close' data-bs-dismiss='modal'
                                                        aria-label='Close'></button>
                                                </div>

                                                <div class='bg-light rounded-2 shadow mb-3'>

                                                    {{! Header }}
                                                    <div class='row p-3 justify-content-evenly'>

                                                        <div class='col'>
                                                            <div>
                                                                <div title='indexKhach'
                                                                    class=' mb-1 custom-font p20-B text-tertiary'>
                                                                    Tổng vé</div>

                                                                <div id="TongVe_Right_Header_Title"
                                                                    class=' custom-font p20-B text-dark'>
                                                                    50
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class='col '>
                                                            <div>
                                                                <div title='indexKhach'
                                                                    class=' mb-1 custom-font p20-B text-tertiary'>
                                                                    Vé đã bán</div>

                                                                <div id="VeDaBan_Right_Header_Title"
                                                                    class=' custom-font p20-B text-dark'>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class='col'>
                                                            <div>
                                                                <div class='mb-1 custom-font p20-B text-tertiary'>Doanh
                                                                    thu
                                                                </div>

                                                                <div id="DoanhThu_Right_Header_Title"
                                                                    class=' custom-font p20-B text-dark'>
                                                                    <span>120.000.000</span> VND
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    {{! Seprator line }}
                                                    <div style='border-top: 1px solid black;'></div>

                                                    {{!-- Biểu đồ --}}
                                                    <div class='row p-3'>

                                                        <div class="d-flex justify-content-around chart-container"
                                                            style=" height:50vh; width:vw">
                                                            <canvas class="custom-font p20-B text-dark"
                                                                id="chart_1"></canvas>
                                                            <canvas class="custom-font p20-B text-dark"
                                                                id="chart_2"></canvas>
                                                        </div>

                                                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="profile-kv-9" role="tabpanel"
                                            aria-labelledby="profile-tab">
                                            <div class='table_rapper table-responsive overflow-auto bg-light'
                                                style='height: 300px;'>

                                                <table id='hoa_don_table' class="px-2">
                                                    <thead class='sticky-top bg-light shadow-sm'>
                                                        <tr class='custom-font p16-S text-center'>
                                                            <th style='width: 10%' scope='col'>Mã HĐ</th>
                                                            <th style='width: 25%' scope='col'>Người thanh toán</th>
                                                            <th style='width: 10%' scope='col'>Số vé</th>
                                                            <th style='width: 15%' scope='col'>Thanh toán lúc</th>
                                                            <th style='width: 20%' scope='col'>Hình thức</th>
                                                            <th style='width: 20%' scope='col'>Tổng tiền</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id='hoa_don_table_body'>
                                                        <tr
                                                            class='hoa_don_table_item custom-font p16-R align-middle text-center d-none'>
                                                            <th class='hoa_don_table_item_ma_hd'>HA-SG-1</th>
                                                            <td class='hoa_don_table_item_nguoi_thanh_toan'>Nguyễn Văn
                                                                Hên</td>
                                                            <td class='hoa_don_table_item_so_ve'>3</td>
                                                            <td class='hoa_don_table_item_dat_luc'>08:30 29/12/2022</td>
                                                            <td class='hoa_don_table_item_hinh_thuc'>VNPAY</td>
                                                            <td class='hoa_don_table_item_tong_tien'>5.250.000 VND</td>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                {{! No flight notice }}
                                                <div class="no_flight_identifier d-flex justify-content-center d-none">
                                                    <div class="custom-font p32-R col text-tertiary text-center">
                                                        Không có chuyến bay nào
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                {{! Footer }}
                                <div style="box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;"
                                    class='p-3 d-flex flex-row justify-content-between align-items-center bg-light '>

                                    {{!-- {{! Tổng phụ }}
                                    <div class='d-flex flex-column'>

                                        <div class='d-flex flex-row mb-1'>
                                            <span class='custom-font p20-B text-dark me-5'>
                                                Tổng doanh thu
                                            </span>
                                            <span id='TongDoanhThu_Modal'
                                                class='ms-5 custom-font p20-B text-secondary me-1'>
                                                2.565.000.000
                                            </span>
                                            <span class='custom-font p20-B text-secondary'>VND</span>
                                        </div>

                                        <div>
                                            <span class='custom-font p16-S text-tertiary'>
                                                (Bao gồm tất cả các nguồn doanh thu)
                                            </span>
                                        </div>

                                    </div> --}}

                                    <div class=""></div>
                                    {{! Nút Hoàn Tất }}
                                    <div>
                                        <button type='button' data-bs-dismiss='modal'
                                            class='btn btn-primary bg-secondary border-secondary px-5 text-light custom-font p20-B custom-boxshadow-focus-none custom-boxshadow-hover-secondary'
                                            href=''>
                                            Đóng
                                        </button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {{! Our js }}
            <script type='module' src='/javascript/staff/BaoCaoDoanhThu.js'>
            </script>