<div class='bg-tertiary-light'>

    <div style='height: 88px;' class='w-100 bg-primary-gradient'>
        <div class='container h-100'>
            <div class='d-flex flex-row h-100 justify-content-between align-items-center'>
                <div class='d-flex flex-column'>
                    <span class='custom-font h28-B text-light mb-2'>Chi tiết chuyến bay</span>
                    <span class='custom-font p16-R text-light'>Cụ thể các thông tin về chuyến bay</span>
                </div>
                <div class='w-auto'>
                    <a
                        id='ChinhSuaChuyenBay'
                        type='button'
                        data-bs-toggle='modal'
                        data-bs-target='#Modal_XacNhanMatKhau'
                        class='btn btn-primary bg-secondary border-secondary px-4 text-light custom-font p20-S custom-boxshadow-focus-none custom-boxshadow-hover-secondary'
                    >
                        Chỉnh sửa chuyến bay
                    </a>
                </div>

            </div>
        </div>
    </div>

    {{! Modal: Xác nhận mật khẩu }}
    <div class='modal fade' id='Modal_XacNhanMatKhau' tabindex='-1' aria-hidden='true'>
        <div style='width: 340px;' class='modal-dialog modal-dialog-centered'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <span class='modal-title custom-font h24-B text-dark'>Xác nhận tài khoản</span>
                    <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                </div>

                <div class='modal-body'>
                    <div class='d-flex flex-column'>
                        {{! Tài khoản }}
                        <div class='mb-4'>
                            <label class='form-label custom-font p14-S'>Tài khoản</label>
                            <input
                                id='XacNhan_TaiKhoan'
                                class='form-control custom-font p16-S text-dark border-tertiary custom-boxshadow-focus-primary'
                                type='text'
                                value='truonghuy'
                                disabled
                            />
                        </div>

                        {{! Mật khẩu }}
                        <div class=''>
                            <label class='form-label custom-font p14-S'>Mật khẩu</label>
                            <input
                                id='XacNhan_MatKhau'
                                class='form-control custom-font p16-S text-dark border-tertiary custom-boxshadow-focus-primary'
                                type='password'
                                value=''
                            />
                        </div>

                    </div>

                </div>

                <div class='modal-footer pb-0'>
                    <div class='d-flex flex-row justify-content-center align-items-center h-auto w-100'>

                        <button
                            id='XacNhan_btn'
                            type='button'
                            autocomplete='submit'
                            class='btn btn-primary bg-secondary border-secondary px-2 text-light custom-font p20-S custom-boxshadow-focus-none custom-boxshadow-hover-secondary'
                        >
                            Xác nhận
                        </button>

                    </div>
                </div>
                <form name='staff-form' method='POST'>
                    <input type='text' class='d-none' id='Flight_Edit' name='Flight_Edit' />
                </form>

            </div>
        </div>
    </div>

    <div class='container mt-4 pb-4 h-auto'>

        {{! Thông tin chuyến bay }}
        <div class='mb-5 mx-2 mx-md-5'>

            <div class='d-flex flex-column bg-light shadow rounded-2 h-auto'>

                {{! Tiêu đề }}
                <div class='px-3 custom-font h24-B text-tertiary py-3'>
                    THÔNG TIN CHUYẾN BAY
                </div>

                {{! Dòng 1 }}
                <div class='row px-3 justify-content-center'>
                    {{! Mã chuyến bay }}
                    <div class='col-12'>
                        <div class='mb-3'>
                            <label for='MaChuyenBay' class='form-label custom-font p14-S'>Số hiệu chuyến bay</label>
                            <input
                                style='height: 36px;'
                                type='text'
                                class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                id='MaChuyenBay'
                                value='{{Package.MaChuyenBayHienThi}}'
                                machuyenbay='{{Package.MaChuyenBay}}'
                                disabled
                            />
                        </div>
                    </div>

                </div>

                {{! Dòng 2 }}
                <div class='row px-3 justify-content-center'>

                    {{! Sân bay đi }}
                    <div class='col-4 col-md-4'>
                        <div class='mb-3'>
                            <label for='SanBayDi' class='form-label custom-font p14-S'>Sân bay đi</label>
                            <input
                                style='height: 36px;'
                                type='text'
                                class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                id='SanBayDi'
                                disabled
                            />
                        </div>
                    </div>

                    {{! Sân bay đến }}
                    <div class='col-4 col-md-4'>
                        <div class='mb-3'>
                            <label for='SanBayDen' class='form-label custom-font p14-S'>Sân bay đến</label>
                            <input
                                style='height: 36px;'
                                type='text'
                                class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                id='SanBayDen'
                                disabled
                            />
                        </div>
                    </div>

                    {{! Khởi hành }}
                    <div class='col-4 col-md-4'>
                        <div class='mb-3'>
                            <label for='KhoiHanh' class='form-label custom-font p14-S'>Khởi hành</label>
                            <input
                                style='height: 36px;'
                                type='text'
                                class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                id='KhoiHanh'
                                disabled
                            />
                        </div>
                    </div>

                </div>

                {{! Dòng 3 }}
                <div class='row px-3 mb-3 justify-content-center'>

                    {{! Thời gian bay }}
                    <div class='col-6 col-md-2'>
                        <div class='mb-3'>
                            <label for='ThoiGianBay' class='form-label custom-font p14-S'>Thời gian bay</label>
                            <div class='input-group'>
                                <input
                                    style='height: 36px;'
                                    type='text'
                                    class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                    id='ThoiGianBay'
                                    disabled
                                />
                                <span
                                    style='height: 36px; background-color:#e9ecef;'
                                    class='border-tertiary input-group-text custom-font p16-S py-1 text-tertiary'
                                >phút</span>
                            </div>

                        </div>
                    </div>

                    {{! Số ghế trống }}
                    <div class='col-6 col-md-2'>
                        <div class='mb-3'>
                            <label for='SoGheTrong' class='form-label custom-font p14-S'>Ghế trống</label>
                            <input
                                style='height: 36px;'
                                type='text'
                                class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                id='SoGheTrong'
                                disabled
                            />
                        </div>
                    </div>

                    {{! Trạng thái }}
                    <div class='col-6 col-md-4'>
                        <div class='mb-3'>
                            <label for='TrangThai' class='form-label custom-font p14-S'>Trạng thái</label>
                            <input
                                style='height: 36px;'
                                type='text'
                                class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                id='TrangThai'
                                disabled
                            />
                        </div>
                    </div>

                    {{! Giá vé }}
                    <div class='col-6 col-md-4'>
                        <div class='mb-3'>
                            <label for='GiaVeCoBan' class='form-label custom-font p14-S'>Giá vé cơ bản</label>
                            <div class='input-group mb-3'>
                                <input
                                    style='height: 36px;'
                                    type='text'
                                    class='form-control custom-font p16-S border-tertiary py-1 custom-boxshadow-focus-primary'
                                    id='GiaVeCoBan'
                                    disabled
                                />
                                <span
                                    style='height: 36px;  background-color:#e9ecef;'
                                    class='border-tertiary input-group-text custom-font p16-S py-1 text-tertiary'
                                >VND</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        {{! SBTG + Hạng vé }}
        <div class='row px-0 py-0'>

            {{! Sân bay trung gian }}
            <div class='col-12 col-md-7 mb-5'>
                <div class='d-flex flex-column bg-light shadow rounded-2 h-auto'>

                    {{! Tiêu đề }}
                    <div class='px-3 custom-font h24-B text-tertiary py-3'>
                        SÂN BAY TRUNG GIAN
                    </div>

                    {{! Table }}
                    <div class='px-3'>
                        <div style='height: 300px;' class='table-responsive overflow-auto'>

                            <table class='table'>
                                <thead class='sticky-top bg-light shadow-sm'>
                                    <tr class='custom-font p16-S text-center'>
                                        <th scope='col'>Thứ tự</th>
                                        <th scope='col'>Tên sân bay</th>
                                        <th scope='col'>Thời gian đến</th>
                                        <th scope='col'>Thời gian dừng (Phút)</th>
                                        <th scope='col'>Ghi chú</th>
                                    </tr>
                                </thead>
                                <tbody id='SanBayTrungGian_Container'>
                                    <tr class='SanBayTrungGian_Item custom-font p16-R align-middle text-center d-none'>
                                        <th class='ThuTu'>1</th>
                                        <td class='TenSanBay'>Tân Sơn Nhất</td>
                                        <td class='ThoiGianDen'>11:11 11/11/2022</td>
                                        <td class='ThoiGianDung'>180</td>
                                        <td class='GhiChu'></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
            </div>

            {{! Hạng vé }}
            <div class='col-12 col-md-5 mb-5'>
                <div class='d-flex flex-column bg-light shadow rounded-2 h-auto'>

                    {{! Tiêu đề }}
                    <div class='px-3 custom-font h24-B text-tertiary py-3'>
                        HẠNG VÉ
                    </div>

                    {{! Table }}
                    <div class='px-3'>
                        <div style='height: 300px;' class='table-responsive overflow-auto'>

                            <table class='table'>
                                <thead class='sticky-top bg-light shadow-sm'>
                                    <tr class='custom-font p16-S text-center'>
                                        <th scope='col'>Tên hạng vé</th>
                                        <th scope='col'>Giá tiền</th>
                                        <th scope='col'>Ghế trống</th>
                                    </tr>
                                </thead>
                                <tbody id='HangVe_Container'>
                                    <tr class='HangVe_Item custom-font p16-R align-middle text-center d-none'>
                                        <th class='TenHangVe'>Phổ thông</th>
                                        <td class='GiaTien'>500.000</td>
                                        <td class='GheTrong'>11</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        {{! Vé đã đặt }}
        <div class='mb-5'>

            <div class='d-flex flex-column bg-light shadow rounded-2 h-auto'>

                {{! Tiêu đề }}
                <div class='px-3 d-flex flex-row justify-content-between align-items-center'>
                    <div class='custom-font h24-B text-tertiary py-3'>
                        VÉ ĐÃ ĐẶT
                    </div>

                    {{! Search Vé}}
                    <div>
                        <div class='input-group'>
                            <input
                                type='text'
                                class='form-control custom-font p16-S border-tertiary custom-boxshadow-focus-primary'
                                id='SearchVe'
                                placeholder='Mã vé'
                            />
                            <span class='bg-light border-tertiary input-group-text custom-font p16-S text-tertiary'><i
                                    class='fa-solid fa-magnifying-glass'
                                ></i></span>
                        </div>
                    </div>
                </div>

                {{! Table }}
                <div class='px-3 pb-3'>
                    <div class='table-responsive overflow-auto' style='height: 500px;'>

                        <table class='table'>
                            <thead class='sticky-top bg-light shadow-sm'>
                                <tr class='custom-font p16-S text-center'>
                                    <th scope='col'>Mã vé</th>
                                    <th scope='col'>Hành khách</th>
                                    <th scope='col'>Hạng vé</th>
                                    <th scope='col'>Hành lý</th>
                                    <th scope='col'>Ngày thanh toán</th>
                                    <th scope='col'>Giá vé</th>
                                    <th scope='col'>Liên lạc</th>
                                </tr>
                            </thead>
                            <tbody id='VeDaDat_Container'>
                                <tr class='VeDaDat_Item custom-font p16-R align-middle text-center d-none'>
                                    <th class='MaVeHienThi'>1</th>
                                    <td class='TenHanhKhach'>Phan Trường Huy</td>
                                    <td class='TenHangVe'>Thương gia</td>
                                    <td class='SoKgHanhLy'>+ 15kg</td>
                                    <td class='NgayThanhToan'>11:11 11/11/2022</td>
                                    <td class='GiaVe'>500.000</td>
                                    <td>
                                        <a
                                            type='button'
                                            index=''
                                            data-bs-toggle='modal'
                                            data-bs-target='#Modal_LienLac'
                                            class='LienLac_btn btn btn-primary bg-primary border-primary text-light custom-boxshadow-focus-none custom-boxshadow-hover-primary p14-S shadow-sm'
                                        >Liên lạc</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
        </div>

        {{! Modal: Liên lạc }}
        <div class='modal fade' id='Modal_LienLac' tabindex='-1' aria-hidden='true'>
            <div class='modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable'>
                <div class='modal-content'>
                    <div class='modal-header bg-tertiary-light border-0 py-3'>
                        <span class='modal-title custom-font p20-B'></span>
                        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                    </div>
                    <div class='modal-body bg-tertiary-light rounded-1 pt-0'>
                        <div class='d-flex flex-column overflow-auto'>

                            {{! Người liên hệ }}
                            <div class='mb-4'>
                                <div class='mb-3 mx-3'>
                                    <span class='custom-font h24-B text-dark'>Thông tin liên hệ</span>
                                </div>
                                <div class='bg-light shadow rounded-1 mx-3 h-auto'>
                                    <div class='py-2'>
                                        <div class='px-3 d-flex flex-row justify-content-between align-items-center'>
                                            <span class='custom-font p20-B text-dark'>
                                                Người liên hệ (Nhận vé / Phiếu thanh toán)
                                            </span>
                                            <a
                                                id='ChinhSua_NguoiLienHe'
                                                type='button'
                                                index=''
                                                class='text-secondary custom-boxshadow-focus-none p20-B text-decoration-none custom-bg-hover-secondary py-1 px-2 rounded-1'
                                            >Chỉnh sửa</a>
                                            <div id='Huy_Luu_NguoiLienHe' class='d-none'>
                                                <button
                                                    id='Huy_NguoiLienHe'
                                                    type='button'
                                                    class='border-0 text-light me-2 custom-boxshadow-focus-none p20-B text-decoration-none custom-boxshadow-hover-secondary bg-danger py-1 px-2 rounded-1'
                                                >Hủy</button>
                                                <button
                                                    id='Luu_NguoiLienHe'
                                                    data-bs-dismiss='modal'
                                                    type='button'
                                                    class='border-0 text-light custom-boxshadow-focus-none p20-B text-decoration-none custom-boxshadow-hover-primary bg-primary py-1 px-2 rounded-1'
                                                >Lưu</button>
                                            </div>
                                        </div>

                                    </div>
                                    <div style='border-top: 1px solid black;'></div>

                                    <form>
                                        <div class='row mx-0 px-0 py-3'>
                                            {{! Họ tên }}
                                            <div class='col-12 px-3'>
                                                <div class='d-flex flex-column'>
                                                    <label class='form-label custom-font text-tertiary p16-S'>Họ tên</label>
                                                    <input
                                                        id='NguoiLienHe_HoTen'
                                                        class='form-control custom-font p16-B text-dark border-tertiary custom-boxshadow-focus-none ps-0 border-0'
                                                        type='text'
                                                        value='Phan Trường Huy'
                                                        index=''
                                                    />
                                                </div>
                                            </div>
                                        </div>

                                        <div class='row mx-0 px-0 pb-3'>
                                            {{! Điện thoại di động }}
                                            <div class='col-12 col-md-6 px-3'>
                                                <div class='d-flex flex-column'>
                                                    <label class='form-label custom-font text-tertiary p16-S'>Điện thoại
                                                        di động</label>
                                                    <input
                                                        id='NguoiLienHe_SDT'
                                                        class='form-control custom-font p16-B text-dark border-tertiary custom-boxshadow-focus-none ps-0 border-0'
                                                        type='tel'
                                                        autocomplete='tel'
                                                        onkeypress='onlyNumber(event)'
                                                        value='0343214971'
                                                        maxlength='10'
                                                        index=''
                                                    />
                                                    <div
                                                        id='NguoiLienHe_SDT_NhacNho'
                                                        class='custom-font p12-S text-danger mt-2 d-none'
                                                    >Yêu cầu 10 chữ số!</div>
                                                </div>
                                            </div>
                                            {{! email}}
                                            <div class='col-12 col-md-6 px-3 mt-3 mt-md-0'>
                                                <div class='d-flex flex-column'>
                                                    <label
                                                        class='form-label custom-font text-tertiary p16-S'
                                                    >Email</label>
                                                    <input
                                                        id='NguoiLienHe_Email'
                                                        class='form-control custom-font p16-B text-dark border-tertiary custom-boxshadow-focus-none ps-0 border-0'
                                                        type='email'
                                                        autocomplete='email'
                                                        value='phantruonghuy0701@gmail.com'
                                                        index=''
                                                    />
                                                    <div
                                                        id='NguoiLienHe_Email_NhacNho'
                                                        class='custom-font p12-S text-danger mt-2 d-none'
                                                    >Vd: example@gmail.com</div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            {{! Hành khách }}
                            <div class='mb-4'>
                                <div class='mb-3 mx-3'>
                                    <span class='custom-font h24-B text-dark'>Thông tin hành khách</span>
                                </div>
                                <div class='bg-light shadow rounded-1 mx-3 h-auto'>
                                    <div class='py-2'>
                                        <div class='px-3 d-flex flex-row justify-content-between align-items-center'>
                                            <span class='custom-font p20-B text-dark'>Người thụ hưởng vé</span>
                                            <a
                                                id='ChinhSua_HanhKhach'
                                                type='button'
                                                class='text-secondary custom-boxshadow-focus-none p20-B text-decoration-none d-none'
                                            >Chỉnh sửa</a>
                                            <a
                                                id='Luu_HanhKhach'
                                                type='button'
                                                class='text-primary custom-boxshadow-focus-none p20-B text-decoration-none d-none'
                                            >Lưu</a>
                                        </div>

                                    </div>
                                    <div style='border-top: 1px solid black;'></div>

                                    <form>
                                        <div class='row mx-0 px-0 py-3'>
                                            {{! Danh xưng }}
                                            <div class='col-12 col-md-6 px-3'>
                                                <label class='form-label custom-font p16-S text-tertiary'>Danh xưng</label>
                                                <div class='input-group dropdown'>
                                                    <input
                                                        type='text'
                                                        id='HanhKhach_DanhXung'
                                                        class='form-control dropdown-toggle custom-font p16-B text-dark border-tertiary custom-boxshadow-focus-none ps-0 border-0'
                                                        {{! class='HanhKhach_GioiTinh form-control dropdown-toggle custom-font p16-B text-dark border-tertiary form-select custom-boxshadow-focus-primary' }}
                                                        {{! data-bs-toggle='dropdown' }}
                                                        aria-expanded='false'
                                                        value='Ông'
                                                        readonly
                                                    />
                                                    <ul
                                                        class='list-unstyled custom-font p14-S dropdown-menu shadow py-0 my-1 h-auto'
                                                    >
                                                        {{! Dropdown items }}
                                                        <li class='DanhXung_li dropdown-item custom-active'>
                                                            <div
                                                                style='pointer-events:none;'
                                                                class='d-flex flex-row py-2'
                                                            >
                                                                <span
                                                                    class='DanhXung_li_Value custom-font p14-S text-dark'
                                                                >Ông</span>
                                                            </div>
                                                        </li>
                                                        <li class='DanhXung_li dropdown-item custom-active'>
                                                            <div
                                                                style='pointer-events:none;'
                                                                class='d-flex flex-row py-2'
                                                            >
                                                                <span
                                                                    class='DanhXung_li_Value custom-font p14-S text-dark'
                                                                >Cô</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            {{! Họ tên }}
                                            <div class='col-12 col-md-6 px-3'>
                                                <div class='d-flex flex-column'>
                                                    <label class='form-label custom-font text-tertiary p16-S'>Họ tên</label>
                                                    <input
                                                        id='HanhKhach_HoTen'
                                                        class='form-control custom-font p16-B text-dark border-tertiary custom-boxshadow-focus-none ps-0 border-0'
                                                        type='text'
                                                        value='Phan Trường Huy'
                                                        readonly
                                                    />
                                                </div>
                                            </div>
                                        </div>

                                        <div class='row mx-0 px-0 pb-3'>
                                            {{! Ngày sinh }}
                                            <div class='col-12 col-md-6 px-3'>
                                                <div class='d-flex flex-column'>
                                                    <label class='form-label custom-font p16-S text-tertiary'>Ngày sinh</label>
                                                    <div id='HanhKhach_NgaySinh' class='d-flex flex-row'>
                                                        {{! Ngày }}
                                                        <div class=''>
                                                            <input
                                                                id='HanhKhach_NgaySinh_Ngay'
                                                                class='dropdown-toggle form-control custom-font p16-B text-dark border-tertiary custom-boxshadow-focus-none ps-0 border-0'
                                                                type='text'
                                                                {{! data-bs-toggle='dropdown' }}
                                                                aria-expanded='false'
                                                                placeholder='Ngày sinh'
                                                                value='Ngày 07'
                                                                readonly
                                                            />
                                                            <ul
                                                                style='height: 200px;'
                                                                id='HanhKhach_NgaySinh_Ngay_ul'
                                                                class='list-unstyled custom-font p14-S dropdown-menu shadow py-0 my-1 overflow-auto'
                                                            >
                                                                {{! Dropdown items }}
                                                                <li
                                                                    class='HanhKhach_NgaySinh_Ngay_li dropdown-item custom-active py-2'
                                                                >
                                                                    <span
                                                                        style='pointer-events:none;'
                                                                        class='HanhKhach_NgaySinh_Ngay_li_value custom-font p14-S text-dark'
                                                                    >1</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        {{! Tháng }}
                                                        <div class=''>
                                                            <input
                                                                id='HanhKhach_NgaySinh_Thang'
                                                                class='dropdown-toggle form-control custom-font p16-B text-dark border-tertiary custom-boxshadow-focus-none ps-0 border-0'
                                                                type='text'
                                                                {{! data-bs-toggle='dropdown' }}
                                                                aria-expanded='false'
                                                                placeholder='Tháng sinh'
                                                                value='Tháng 1'
                                                                readonly
                                                            />
                                                            <ul
                                                                id='HanhKhach_NgaySinh_Thang_ul'
                                                                style='height: 200px;'
                                                                class='overflow-auto list-unstyled custom-font p14-S dropdown-menu shadow py-0 my-1'
                                                            >
                                                                {{! Dropdown items }}
                                                                <li
                                                                    class='HanhKhach_NgaySinh_Thang_li dropdown-item custom-active py-2'
                                                                >
                                                                    <span
                                                                        style='pointer-events:none;'
                                                                        class='HanhKhach_NgaySinh_Thang_li_value custom-font p14-S text-dark'
                                                                    >Tháng 1</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        {{! Năm }}
                                                        <div class=''>
                                                            <input
                                                                id='HanhKhach_NgaySinh_Nam'
                                                                class='dropdown-toggle form-control custom-font p16-B text-dark border-tertiary custom-boxshadow-focus-none ps-0 border-0'
                                                                type='text'
                                                                {{! data-bs-toggle='dropdown' }}
                                                                aria-expanded='false'
                                                                placeholder='Năm sinh'
                                                                value='Năm 2002'
                                                                readonly
                                                            />
                                                            <ul
                                                                id='HanhKhachNgaySinh_Nam_ul'
                                                                style='height: 200px;'
                                                                class='overflow-auto list-unstyled custom-font p14-S dropdown-menu shadow py-0 my-1'
                                                            >
                                                                {{! Dropdown items }}
                                                                <li
                                                                    class='HanhKhach_NgaySinh_Nam_li dropdown-item custom-active py-2'
                                                                >
                                                                    <span
                                                                        style='pointer-events:none;'
                                                                        class='HanhKhach_NgaySinh_Nam_li_value custom-font p14-S text-dark'
                                                                    >2022</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <small
                                                        id='HanhKhach_Helper_NguoiLon'
                                                        class='mt-2 custom-font p12-R text-tertiary d-none'
                                                    >Hành khách người lớn (trên 12 tuổi)</small>
                                                    <small
                                                        id='HanhKhach_Helper_TreEm'
                                                        class='mt-2 custom-font p12-R text-tertiary d-none'
                                                    >Hành khách trẻ em (từ 2 - 11 tuổi)</small>
                                                    <small
                                                        id='HanhKhach_Helper_EmBe'
                                                        class='mt-2 custom-font p12-R text-tertiary d-none'
                                                    >Hành khách trẻ sơ sinh (dưới 2 tuổi)</small>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{{! Our js }}
<script type='module' src='/javascript/staff/ChiTietChuyenBay.js'>
</script>